<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Редактирование результата</title>
    <style>
        .center {
            width: 200px; /* Ширина элемента в пикселах */
            padding: 10px; /* Поля вокруг текста */
            margin: auto; /* Выравниваем по центру */
            background: #fc0; /* Цвет фона */
        }
    </style>
</head>
<body class="center mt-5">
<h1>Изменить запись: </h1>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>
<form action="#" th:action="@{/documents}" th:object="${document}" enctype="multipart/form-data" method="post">
    <input type="hidden" th:value="${document.Id}" name="docId" />
    <table>
        <tr>
            <td>Новая фамилия:</td>
            <td><input type="text" th:field="*{text}" name="text" /></td>
            <!--<td th:if="${#fields.hasErrors('text')}" th:errors="*{text}" bgcolor="red">Text Error</td>-->
            <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert"><span></span></div>
            <td>Изменить ВУЗ:</td>
            <td><input type="text" th:field="*{VUZ}" name="text" /></td>
            <td>Новый результат:</td>
            <td><input type="text" th:field="*{finish}" name="text" /></td>
        </tr>
        <tr>
            <td><button type="submit">Сохранить</button></td>
        </tr>
    </table>
</form>
<a href="/documents" type="button">Назад</a>
<br/>
</body>
</html>