<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирвоание пользователя</title>
</head>
<body>
<h1>Настройки пользователя </h1>
<div>
   <!-- <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>-->
</div>
<form name="fwr" action="#" th:action="@{/user}" th:object="${user}" method="post">
    <input type="hidden" th:value="${user.id}" name="userId" />
    <table>
        <tr>
            <td>Логин пользователя :</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}" bgcolor="red">Text Error</td>
            <br/>
            <td>Его роли :</td>
            <div>

                <td>
                    <ul>
                        <li name="roles" th:each="r : ${roles}">
                            <input type="checkbox" th:field="*{roles}" th:value="${r}"  />
                            <label th:for="${#ids.prev('roles')}"
                                   th:text="${r}"></label>
                        </li>
                        <li th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" bgcolor="red">Text error</li>
                    </ul>
                </td>
            </div>

        </tr>
        <tr>
            <td><button type="submit">Применить</button></td>
        </tr>
    </table>
</form>
<a href="/documents" type="button">Назад</a>
<br/>
</body>
</html>